@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  line-height: normal;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* Header */

.logo {
  transition: transform 0.2s ease; /* Плавный переход при изменении */
}

.logo:hover {
  transform: scale(0.9); /* Увеличиваем логотип */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-list a {
  font-size: 26px;
  color: #000;
  transition: color 0.2s ease-in;
}

.nav-list a:hover {
  transform: scale(1.1);
  color: #375868;
}
.nav-list a.active {
  color: rgb(2, 65, 133);
}

/* Main Page */

.promo {
  display: flex;
  align-items: end;
  padding-left: 70px;
  height: 900px;
  border-radius: 90px;
  background-image: url("./../img/promo-bg.jpg");
  background-color: #3b6a54;
  background-position: center;
  background-size: cover;
}

.desc {
  font-size: 40px;
  font-weight: 700;
}

.desc-1 {
  color: #fff;
}

.desc-2 {
  color: blue;
  margin-left: 40px;
}

.desc-3 {
  color: red;
  margin-left: 80px;
}
